<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

</head>

<body>
<form id="loginForm">
    <h3>Đăng nhập</h3>
    <div class="input">
        <label for="loginUsername"></label><input type="text" id="loginUsername" name="Username" required = "required">
        <span>Username</span>
    </div>
    <div class="input">
        <label for="loginPassword"></label><input type="password" id="loginPassword" name="Password" required="required">
        <span>Password</span>
        <div onclick="togglePasswordVisibility()" style="right: 10px; top: 6px">
            <i class="fa-solid fa-eye" style="display: none"></i>
            <i class="fa-solid fa-eye-slash" id="togglePassword"></i>
        </div>
    </div>


    <div class="input" style="display: grid; grid-template-columns: 1fr 1fr;">
        <button type="submit">Đăng nhập</button>
        <button onclick="window.location.href = 'http://127.0.0.1:5500/html/user/register.html'">Đăng ký</button>
    </div>
    <a href="" class="large-link">Quên mật khẩu</a>
</form>
<div id="errorContainer" style="display: none; color: red;"></div>
</body>
</html>