#userList {
    width: auto;
    margin: auto;
    border-collapse: collapse;
}

#userList tr, #userList th, #userList td {
    border: 1px solid;
    border-collapse: collapse;
    padding-left: 10px;
}